
    
    <!-- Carrusel -->
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/foto1.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="img/foto2.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="img/foto3.jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!--Productos-->
    <div class="row">
      <div class="col-md-15">
        <br>
        <h2 class="text-center">Productos</h2>
        <br>
      </div>
    </div>

        <!-- Productos  -->
    <div class="album py-2 bg-light">
      <div class="container">
        <div id="product-item" class="row">

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            
            <div class="card" mb-4 box-shadow ;">
              <div class="text-center">
                <img src="img/saco-pedigree.jpg" alt="" width="170px" height="170px">
              </div>
              <div class="card-body">
                <p class="card-text">
                  <div class="lead text-secondary fw-bold">
                    En oferta
                  </div>
                  <br>
                  <div class="lead text-danger">
                    <span class="sale-real-price fw-bold">
                      $34.800 <br>
                    </span>
                    <span class="sale-offer-price fw-bold">
                      $30.276
                    </span>
                  </div>
                  <br>
                  Alimento Seco Perros Adultos Carne Pollo y Cereal
                  <br>
                  <b>
                    Descripcion:
                  </b>
                  <div class="text-truncate">
                    15 kg
                  </div>
                  <b>
                    En stock: x unidades
                  </b>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                      Comprar
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                      Agregar al carrito
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            
            <div class="card" mb-4 box-shadow ;>
              <div class="text-center">
                <img src="img/saco-whiskas.jpg" alt="" width="170px" height="170px">
              </div>
              <div class="card-body">
                <p class="card-text">
                  <div class="lead text-secondary fw-bold">
                    Disponible
                  </div>
                  <br>
                  <div class="lead text-danger">
                    <span class="sale-real-price fw-bold">
                      $31.390 <br>
                    </span>
                    <span class="sale-offer-price fw-bold">
                      $26.681
                    </span>
                  </div>
                  <br>
                  Alimento Seco Perros Adultos Carne Pollo y Cereal
                  <br>
                  <b>
                    Descripcion:
                  </b>
                  <div class="text-truncate">
                    10,1 kg
                  </div>
                  <b>
                    En stock: x unidades
                  </b>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                      Comprar
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                      Agregar al carrito
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            
            <div class="card" mb-4 box-shadow ;">
              <div class="text-center">
                <img src="img/saco-purina - copia.jpg" alt="" width="200px" height="200px">
              </div>
              <div class="card-body">
                <p class="card-text">
                  <div class="lead text-secondary fw-bold">
                    Agotado
                  </div>
                  <br>
                  <div class="lead text-danger">
                    <span class="sale-real-price fw-bold">
                      $44.800 <br>
                    </span>
                  </div>
                  <br>
                  Alimento Seco Perros Adultos Carne Pollo y Cereal
                  <br>
                  <b>
                    Descripcion:
                  </b>
                  <div class="text-truncate">
                    7,5 kg
                  </div>
                  <b>
                    En stock: x unidades
                  </b>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                      Comprar
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                      Agregar al carrito
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
